/*
body{
	background-color: grey;
}
*/

@import url('https://fonts.googleapis.com/css?family=NotoSerif&display=swap');

#texto{
    font-family: 'Noto Serif', serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 9vw;
    margin-top: 90px;
    text-align: center;
    color: black;
    position: relative;
    animation: rotate 2s;

}

@keyframes rotate{
    0%{
        margin-top: 5px;
        color:white;

    }100%{
        margin-top: 90px;
    }

}
body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;


}
.loginbox{
    margin-top: -85px;
    width: 320px;
    min-height: 420px;
    background: #000;
    border-radius: 50px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.90;
}
.avater{
    width: 100%;
    height: 100px;
    border-radius: -50%;
    position: absolute;
    top: -50%;
    left: calc(50%-50px);

}

.loginbox p{
    margin: 0;
    position: 0;
    font-weight: bold;
    font-style: normal;
    font-family: 'Noto Serif', serif;

}
#texto2{
    margin: 0;
    position: 0;
    font-weight: bold;
    font-style: normal;
    font-family: 'Noto Serif', serif;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;

}
.loginbox input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Serif', serif;

}
.loginbox button{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    width: 100%;
    margin-bottom: 20px;
}
.loginbox button:hover{
    
    background-color:rgb(145, 145, 142);
    
}
.loginbox input[type="submit"]{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Noto Serif', serif;

}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: red;
    color: #fff;

}


.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover{
    color: #ffc107;
}


